@import '../node_modules/tailwindcss/base.css';

@import '../node_modules/tailwindcss/components.css';

@import '../node_modules/tailwindcss/utilities.css';

@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/material.css';

html {
    overflow-y: hidden;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

.react-codemirror2,
.CodeMirror {
    height: 100%;
}

.transition {
    transition: all 0.2s ease-in-out;
}
